@tailwind base;
@tailwind components;
@tailwind utilities;


th {
  color: black;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

td {
  color: rgb(47, 47, 47);
  padding:0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

img {
  width: 8rem;
}

@keyframes dialogOpen {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialogClose {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

  





dialog[open] #child {
  /* background-color: red; */
  animation: dialogOpen 0.3s ease-out forwards;
}



dialog #child.close{
  animation: dialogClose 0.3s ease-out forwards;
}

/* remove backdroop */

dialog::backdrop {
  background: transparent;



}
